body {
	background: linear-gradient(-45deg, rgb(150, 47, 15), rgb(162, 20, 75), rgb(28, 133, 170), rgb(28, 170, 137));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}