html, body {
    height: 100%;
    padding: 0;
    /*color: white;*/
}


#main {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#app {
    width: 100%;
    height: 100%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
}

div, li, h4, .MuiTypography-root, .MuiTypography-subtitle1 {
    color: #d8d4cf;
}

.MuiInputBase-input, .MuiFormLabel-root{
    color: #d8d4cf !important;
}

.dark-component {
    background: #131516;
}

.MuiIconButton-root {
    color: rgba(232, 230, 227, 0.54) !important;
}

.MuiCard-root {
    max-width: 500px;
}